<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MatheShop</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "eshop/customer_navbar.html" %}
  {%else%}
    {% include "eshop/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">"MatheShop merupakan sebuah situs web berbasis Ecommerce, yang berfungsi untuk menjual dan membeli suatu produk yang mereka buat kepada konsumer yang lebih banyak. fitur-fitur dalam MatheShop sangat mudah untuk digunakan bagi pemula." </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "eshop/footer.html" %}
</body>
<!--
developed By : sumit kumar
-->

</html>
